<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>详细信息|图书管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<p><html>
<body></p>
<br>
<br />
<div align="center"><h1>《{{book.Title}}》</h1></div>
<!--<table border=1 align="center">
 <tr>
  <th>ISBN</th><th>图书名称</th><th>作者</th><th>出版社</th><th>出版日期</th><th>售价</th><th>操      作</th>
 </tr>
{% for book in allbook %}
 <tr>
  <td>{{ book.ISBN }}</td>
  <td><A HREF="http://127.0.0.1:8000/detail/{{book.ISBN}}">{{ book.Title }}</td>
  <td>{{ book.AuthorID.Name }}</td>
  <td>{{ book.Publisher }}</td>
  <td>{{ book.PublishDate }}</td>
  <td>{{ book.Price }}</td>
  <td><a href="/update_book/{{book.ISBN}}"><button>更新</button></a>
      <a href="/delete/{{book.ISBN}}"><button>删除</button></a></td>
 </tr>
{% endfor %}
</table>
-->

<table border=1 align="center">
<tr>
  <td>ISBN</td>
  <td>{{book.ISBN}}</td>
</tr>
<tr>
  <td>作者姓名</td>
  <td>{{book.AuthorID.Name}}</td>
</tr>
<tr>
  <td>作者年龄</td>
  <td>{{book.AuthorID.Age}}</td>
</tr>
<tr>
  <td>作者国籍</td>
  <td>{{book.AuthorID.Country}}</td>
</tr>
<tr>
  <td>出版社</td>
  <td>{{book.Publisher}}</td>
</tr>
<tr>
  <td>出版日期</td>
  <td>{{book.PublishDate}}</td>
</tr>
<tr>
  <td>售价</td>
  <td>{{book.Price}}</td>
</tr>
</table>

<table>
  <div align="center"><A HREF="http://127.0.0.1:8000/"><button>返回</button></A></div>
</table>

<p></body>
</html></p>

</body>
</html>
<!-- This document was created with MarkdownPad, the Markdown editor for Windows (http://markdownpad.com) -->
