  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <title>{{title}}</title>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
  <form action={{posturl}} method="POST">
	
    {% for field in form %}
      <div class="fieldWrapper">
         {{ field.label_tag }}:{{ field }} 
         {{ field.errors }}
      </div>
    {% endfor %}
    {% csrf_token %}
    <div class="fieldWrapper"><p><input type="submit" value='保存' /></p></div>
  </form> 
  </body></html>
